---
const pageTitle = "About the Lab";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
	</head>
	<body>
        <a href="/lecb_tutorial_blog">Home</a>
        <a href="/lecb_tutorial_blog/about/">About</a>
		<a href="/lecb_tutorial_blog/members">Lab Members</a>
		<a href="/lecb_tutorial_blog/blog/">Blog</a>

		<h1>{pageTitle}</h1>
        <h2>... and the new Astro site!</h2>

        <p>I am working through Astro's introductory tutorial. This is the second page on the website and it is the first built by myself!</p>
        <p>This site will update as I complete more of the tutorial.</p>
	</body>
</html>