---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ishihara Lab</title>
	</head>
	<body>
		<Header />
		
		<h1>Ishihara Lab Blog</h1>
        <p>This is where blog post wil be published</p>
        <ul>
            <li><a href="/lecb_tutorial_blog/posts/post-0/">Post 0</a></li>
        </ul>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>