---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ishihara Lab</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/members">Lab Members</a>
		<a href="/blog/">Blog</a>
		
		<h1>Ishihara Lab Blog</h1>
        <p>This is where blog post wil be published</p>
	</body>
</html>