---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ishihara Lab</title>
	</head>
	<body>
		<a href="/lecb_tutorial_blog">Home</a>
        <a href="/lecb_tutorial_blog/about/">About</a>
		<a href="/lecb_tutorial_blog/members">Lab Members</a>
		<a href="/lecb_tutorial_blog/blog/">Blog</a>

		<h1>Ishihara Lab (bare-bone) Site</h1>
	</body>
</html>
