---
---
<div class="nav-links">
    <a href="/lecb_tutorial_blog">Home</a>
    <a href="/lecb_tutorial_blog/about">About</a>
    <a href="/lecb_tutorial_blog/members">People</a>
    <a href="/lecb_tutorial_blog/news/">News</a>
</div>
